autom4te.cache
build
build.profiled
build.static
FILES
^core
*~
patches
Makefile
*.bak
*.diff
*.dSYM
*.o
*.a
*.orig
*.patch
*.pc
*.rej
*.swp
00[0-9][1-9]*.patch
MCONFIG
asm_types.h
config.log
config.status
cscope.*
tags
TAGS
.deps/
Makefile.in
aclocal.m4
config.h
config.h.in
configure
libtool
m4/
stamp-h1
config/
